<!-- Sticky Footer -->
<footer class="sticky-footer">
    <div class="container my-auto">
        <div class="copyright text-center my-auto ">
            <br><br><br>
            <small class="text-muted">
                Bạn đang sử dụng phiên bản v1.0 của phần mềm này.<a href="#"> <i class="fa fa-external-link"></i> Kiểm tra cập nhật</a>. In order to report a bug, please create an issue <a href="https://github.com/vruqa/rc-pos/issues">here.</a>
                <br><br><br>
                <a href="#">Hợp pháp</a> | <a href="#">Chính sách riêng tư</a> | <a href="#">Điều khoản sử dụng</a> | <a href="#">Quảng cáo</a>
            </small>
            <br><br><br>
            <span>Bản quyền &copy; 2013-2018 <a href="#">Blackrock Digital, LLC.</a>, 2018 <a href="https://vruqa.github.io">Vruqa Designs</a>, 2018 <a href="https://appzaib.github.io">Appzaib</a>. Đã đăng ký Bản quyền.</span>
            <br><br><br>
        </div>
    </div>
</footer>
